/.idea
/venv/*
/server/.env.prod
/server/.env.dev
/server/db.sqlite3
/server/server/__pycache__/*
/server/app/__pycache__/*
/server/app/migrations/*
/server/app/tests/__pycache__/*
/server/media/*
/server/logs/*

/certbot/*
/bot/.env
/certbot/*
